{% extends 'base.html.twig' %}

{% block title %}Gundam Shop{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
	    <br/>
	   <div class="col text-center">
		<h2>GUNDAM SHOP</h2>
		<p>Gundam Model World</p>
		</div>
	</div>
    <div>
    <img src="https://1.bp.blogspot.com/-G_2PaB8y5mA/XfKBFv1AHFI/AAAAAAAHRgc/xrEdm1DSTUcta2Q0gDcQMZwIMJPwmSPiQCLcBGAsYHQ/s1600/hgbd-r-jupitive-gundam%2B%25281%2529.JPG" class="img-fluid" alt="Responsive image">
    </div>
</div>
{% endblock %}